body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    overflow: scroll;
}
button,
input {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
button {
    height: 30px;
    padding: 0px 20px !important;
}
* {
    font-weight: 400 !important;
}
a {
    color: #000;
    &:hover {
        color: #fff;
    }
}
.active_navbar {
    padding: 20px 20px 20px 325px !important;
    transition: 0.3s;
}
.pages_block {
    padding: 20px 20px 20px 83px;
    transition: 0.3s;
}
